<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="juda.zhang.studio.avspider.core.dal.mapper.ActressMapper">
    <resultMap id="actressMap" type="ActressDO">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="birthday" property="birthday"/>
        <result column="cup" property="cup"/>
        <result column="height" property="height"/>
        <result column="region" property="region"/>
        <result column="bust" property="bust"/>
        <result column="waist" property="waist"/>
        <result column="hips" property="hips"/>
        <result column="gmt_created" javaType="java.util.Date" jdbcType="TIMESTAMP"
                property="gmtCreated"/>
        <result column="gmt_modified" javaType="java.util.Date" jdbcType="TIMESTAMP"
                property="gmtModified"/>
        <result column="version" property="version"/>
    </resultMap>

    <sql id="setColumns">
        <if test="id != null">id=#{id},</if>
        <if test="name != null">name = #{name},</if>
        <if test="birthday != null">birthday = #{birthday},</if>
        <if test="cup != null">cup = #{cup},</if>
        <if test="height != null">height = #{height},</if>
        <if test="region != null">region = #{region},</if>
        <if test="bust != null">bust = #{bust},</if>
        <if test="waist != null">waist = #{waist},</if>
        <if test="hips != null">hips = #{hips},</if>
        <choose>
            <when test="gmtCreated != null">gmt_created = #{gmtCreated},</when>
            <otherwise>gmt_created = now(),</otherwise>
        </choose>
        gmt_modified = now()
    </sql>

    <sql id="allColumnName">
        id,
        name,
        birthday,
        cup,
        height,
        region,
        bust,
        waist,
        hips,
        gmt_created,
        gmt_modified,
        version
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"
            parameterType="ActressDO">
        INSERT INTO actress
        <set>
            <include refid="setColumns"/>
        </set>
        ,version = 0
    </insert>

    <update id="update" parameterType="ActressDO">
        UPDATE actress
        <set>
            <include refid="setColumns"/>
        </set>
        ,version = version + 1
        WHERE
        id= #{id}
        and
        version=#{version}
    </update>

    <delete id="deleteById">
        delete
        from actress
        where id = #{id}
    </delete>

    <select id="getById" resultMap="actressMap">
        select
        <include refid="allColumnName"/>
        from actress
        where
        id = #{id}
    </select>

    <select id="getByName" resultMap="actressMap">
        select
        <include refid="allColumnName"/>
        from actress
        where
        name = #{name}
    </select>
</mapper>