<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="juda.zhang.studio.taohuazuspider.core.dal.mapper.ProductMapper">
    <resultMap id="productMap" type="ProductDO">
        <result column="id" property="id"/>
        <result column="config_id" property="configId"/>
        <result column="config_type" property="configType"/>
        <result column="config_name" property="configName"/>
        <result column="mode" property="mode"/>
        <result column="period_number" property="periodNumber"/>
        <result column="biz_channel" property="bizChannel"/>
        <result column="settle_type" property="settleType"/>
        <result column="sales_channel" property="salesChannel"/>
        <result column="type" property="type"/>
        <result column="group_type" property="groupType"/>
        <result column="value" property="value"/>
        <result column="refer_group_value" property="referGroupValue"/>

        <result column="extend_value1" property="extendValue1"/>
        <result column="extend_value2" property="extendValue2"/>
        <result column="extend_value3" property="extendValue3"/>
        <result column="extra" property="extra"/>

        <result column="gmt_create" javaType="java.util.Date" jdbcType="TIMESTAMP"
                property="gmtCreate"/>
        <result column="gmt_modify" javaType="java.util.Date" jdbcType="TIMESTAMP"
                property="gmtModify"/>
        <result column="version" property="version"/>
    </resultMap>

    <sql id="setColumns">
        <if test="id != null">id=#{id},</if>
        <if test="configId != null">config_id = #{configId},</if>
        <if test="configType != null">config_type = #{configType},</if>
        <if test="configName != null">config_name = #{configName},</if>
        <if test="mode != null">mode = #{mode},</if>
        <if test="periodNumber != null">period_number = #{periodNumber},</if>
        <if test="bizChannel != null">biz_channel = #{bizChannel},</if>
        <if test="settleType != null">settle_type = #{settleType},</if>
        <if test="salesChannel != null">sales_channel = #{salesChannel},</if>
        <if test="type != null">type = #{type},</if>
        <if test="groupType != null">group_type = #{groupType},</if>
        <if test="value != null">value = #{value},</if>
        <if test="referGroupValue != null">refer_group_value = #{referGroupValue},</if>
        <if test="extendValue1 != null">extend_value1 = #{extendValue1},</if>
        <if test="extendValue2 != null">extend_value2 = #{extendValue2},</if>
        <if test="extendValue3 != null">extend_value3 = #{extendValue3},</if>
        <if test="extra != null">extra = #{extra},</if>
        <choose>
            <when test="gmtCreate != null">gmt_create = #{gmtCreate},</when>
            <otherwise>gmt_create = now(),</otherwise>
        </choose>
        gmt_modify = now()
    </sql>

    <sql id="allColumnName">
        id,
        config_id,
        config_type,
        config_name,
        mode,
        period_number,
        biz_channel,
        settle_type,
        sales_channel,
        type,
        group_type,
        value,
        refer_group_value,
        extend_value1,
        extend_value2,
        extend_value3,
        extra,
        gmt_create,
        gmt_modify,
        version
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"
            parameterType="ProductDO">
        INSERT INTO co_commission
        <set>
            <include refid="setColumns"/>
        </set>
        ,version = 0
    </insert>

    <update id="update" parameterType="ProductDO">
        UPDATE co_commission
        <set>
            <include refid="setColumns"/>
        </set>
        ,version = version + 1
        WHERE
        id= #{id}
        and
        version=#{version}
    </update>

    <delete id="deleteById">
        delete
        from co_commission
        where id = #{id}
    </delete>

</mapper>