<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="juda.zhang.studio.taohuazuspider.core.dal.mapper.ProductTagMapper">
    <resultMap id="productTagMap" type="ProductTagDO">
        <result column="id" property="id"/>
        <result column="product_id" property="productId"/>
        <result column="tag_id" property="tagId"/>
        <result column="gmt_created" javaType="java.util.Date" jdbcType="TIMESTAMP"
                property="gmtCreated"/>
        <result column="gmt_modified" javaType="java.util.Date" jdbcType="TIMESTAMP"
                property="gmtModified"/>
        <result column="version" property="version"/>
    </resultMap>

    <sql id="setColumns">
        <if test="id != null">id=#{id},</if>
        <if test="productId != null">product_id = #{productId},</if>
        <if test="tagId != null">tag_id = #{tagId},</if>
        <choose>
            <when test="gmtCreated != null">gmt_created = #{gmtCreated},</when>
            <otherwise>gmt_created = now(),</otherwise>
        </choose>
        gmt_modified = now()
    </sql>

    <sql id="allColumnName">
        id,
        product_id,
        tag_id,
        gmt_created,
        gmt_modified,
        version
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"
            parameterType="ProductTagDO">
        INSERT INTO product_tag
        <set>
            <include refid="setColumns"/>
        </set>
        ,version = 0
    </insert>

    <update id="update" parameterType="ProductTagDO">
        UPDATE product_tag
        <set>
            <include refid="setColumns"/>
        </set>
        ,version = version + 1
        WHERE
        id= #{id}
        and
        version=#{version}
    </update>

    <delete id="deleteById">
        delete
        from product_tag
        where id = #{id}
    </delete>

</mapper>