<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="juda.zhang.studio.taohuazuspider.core.dal.mapper.ProductMapper">
    <resultMap id="productMap" type="ProductDO">
        <result column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="title" property="title"/>
        <result column="manufacturer" property="manufacturer"/>
        <result column="region" property="region"/>
        <result column="censored_type" property="censoredType"/>
        <result column="type" property="type"/>
        <result column="actress_name" property="actressName"/>
        <result column="actor_name" property="actorName"/>
        <result column="director" property="director"/>
        <result column="producer" property="producer"/>
        <result column="series" property="series"/>
        <result column="duration" property="duration"/>
        <result column="issue_date" property="issueDate"/>
        <result column="gmt_created" javaType="java.util.Date" jdbcType="TIMESTAMP"
                property="gmtCreated"/>
        <result column="gmt_modified" javaType="java.util.Date" jdbcType="TIMESTAMP"
                property="gmtModified"/>
        <result column="version" property="version"/>
    </resultMap>

    <sql id="setColumns">
        <if test="id != null">id=#{id},</if>
        <if test="code != null">code = #{code},</if>
        <if test="title != null">title = #{title},</if>
        <if test="manufacturer != null">manufacturer = #{manufacturer},</if>
        <if test="region != null">region = #{region},</if>
        <if test="censoredType != null">censored_type = #{censoredType},</if>
        <if test="type != null">type = #{type},</if>
        <if test="actressName != null">actress_name = #{actressName},</if>
        <if test="actorName != null">actor_name = #{actorName},</if>
        <if test="director != null">director = #{director},</if>
        <if test="producer != null">producer = #{producer},</if>
        <if test="series != null">series = #{series},</if>
        <if test="duration != null">duration = #{duration},</if>
        <if test="issueDate != null">issue_date = #{issueDate},</if>
        <choose>
            <when test="gmtCreated != null">gmt_created = #{gmtCreated},</when>
            <otherwise>gmt_created = now(),</otherwise>
        </choose>
        gmt_modified = now()
    </sql>

    <sql id="allColumnName">
        id,
        code,
        title,
        manufacturer,
        region,
        censored_type,
        type,
        actress_name,
        actor_name,
        director,
        producer,
        series,
        duration,
        issue_date,
        gmt_created,
        gmt_modified,
        version
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"
            parameterType="ProductDO">
        INSERT INTO product
        <set>
            <include refid="setColumns"/>
        </set>
        ,version = 0
    </insert>

    <update id="update" parameterType="ProductDO">
        UPDATE product
        <set>
            <include refid="setColumns"/>
        </set>
        ,version = version + 1
        WHERE
        id= #{id}
        and
        version=#{version}
    </update>

    <delete id="deleteById">
        delete
        from product
        where id = #{id}
    </delete>

    <select id="getById" resultMap="productMap">
        select
        <include refid="allColumnName"/>
        from product
        where
        id = #{id}
    </select>

    <select id="getByCode" resultMap="productMap">
        select
        <include refid="allColumnName"/>
        from product
        where
        code = #{code}
    </select>
</mapper>